
// ==========================================================================
// SPACING : Eje.: padding: map-get($sizes, "tiny");
// ==========================================================================
$font-text: 'Muli', sans-serif;



// ==========================================================================
// Color :
// ==========================================================================
$backgroundbtn: #dcdfe0;
$base: #e0e0e0;
$Primary: #c5c5c5;
$Secondary: #949494; ;

// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
   sm  : 600px,
   md  : 960px,
   lg  : 1280px,
   xl  : 1920px,
);

